@import '../styles/var.scss';

.r-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    transition: all .2s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    touch-action: manipulation;
    border-radius: 0.2rem;
    color: rgba(0, 0, 0, .85);
    background: #fff;
    border: 0.1rem solid #d9d9d9;
    outline: 0;

    @mixin type($value: $--color-primary) {
        color: #fff;
        background: $value;
        border-color: $value;

        &:active {
            background: mix(#000, $value, 15%);
            border-color: mix(#000, $value, 15%);
        }

        &.r-button-ghost,
        &.r-button-dashed {
            color: $value;
            background: none;

            &:active {
                color: mix(#000, $value, 15%);
                border-color: mix(#000, $value, 15%);
            }
        }

        &.r-button-lite{
            color: $value;
            background: mix(#fff, $value, 80%);
            border-color: rgba($color: $value, $alpha: 0);
            &:hover {
                color: #fff;
                border-color: $value;
                background: $value;
            }
            &:active {
                background: mix(#000, $value, 15%);
                border-color: mix(#000, $value, 15%);
            }
        }

        &.r-button-liter{
            background: mix(#fff, $value, 100%);
            color: $value;
            border-color: rgba($color: $value, $alpha: 0);

            &:hover {
                border-color: mix(#fff, $value, 80%);
                background: mix(#fff, $value, 80%);
            }
            &:active {
                border-color: mix(#fff, $value,70%);
                background: mix(#fff, $value, 70%);
            }
        }
    }
    &.r-button-default {
        @include type($--color-default);
    }
    &.r-button-primary {
        @include type($--color-primary);
    }

    &.r-button-success {
        @include type($--color-success);
    }
    &.r-button-warning {
        @include type($--color-warning);
    }

    &.r-button-error {
        @include type($--color-error);
    }

    &.r-button-info {
        @include type($--color-info);
    }

    &.r-button-ghost {
        background: none;
    }

    &.r-button-dashed {
        background: none;
        border-style: dashed;
    }

    &.r-button-circle{
        border-radius: 3.2rem;
    }

    &.r-button-disabled{
        cursor: not-allowed;
        opacity: .5;
    }

    &.r-button-nm{
        height: 3rem;
        padding: 0 1.5rem;
        font-size: 1.3rem;
    }

    &.r-button-lg{
        height: 3.5rem;
        padding: 0 1.7rem;
        font-size: 1.5rem;
    }

    &.r-button-sm{
        height: 2.5rem;
        padding: 0 1.3rem;
        font-size: 1.2rem;
    }
}