@import '../styles/var.scss';

.r-col {
  min-height: 1px;
}

[class*="r-col-"] {
    float: left;
    box-sizing: border-box;
  }
  
  .r-col-0 {
    display: none;
  }
  
  @for $i from 0 through 24 {
    .r-col-#{$i} {
      width: (1 / 24 * $i * 100) * 1%;
    }
  
    .r-col-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }
  
    .r-col-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }
  
    .r-col-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }

    .r-col-order-#{$i} {
      order: $i
    }
  }
