.layout-header {
    width: 100%;
    height: 65px;
    padding: 0 26px;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdfe6;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .layout-header-left {
        display: flex;
        justify-content: center;

        .layout-header-logo {
            display: flex;
            align-items: center;

            span {
                margin-left: 20px;
                opacity: 0.8;
            }
        }
    }

    .layout-header-right {
        display: flex;
        align-items: center;

        a {
            padding: 0 5px;
            color: #515a6e;
            background: transparent;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            transition: color 0s ease;

            &.active {
                color: #1890ff;
            }
        }
    }
}

.layout-menu {
    width: 13%;
    position: fixed !important;
    top: 65px;
    bottom: 0;
    border-right: 1px solid #f0f0f0;
    background-color: #fff;

    .layout-menu-list {
        .layout-menu-item {
            padding: 14px 26px;
            position: relative;
            cursor: pointer;
            z-index: 1;
            transition: all 0.2s ease-in-out;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                color: #1890ff;
            }

            &.layout-menu-item-active {
                color: #1890ff !important;
                background-color: #e6f7ff;
                border-right: 1px solid #1890ff;
            }
        }

        .layout-menu-list-part {
            .layout-menu-list-component-part {
                .layout-menu-list-component-part-title {
                    padding: 8px 26px;
                    color: rgba(0, 0, 0, .45);
                    font-size: 14px;
                    line-height: 1.5715;
                    transition: all .3s;
                    font-size: 13px;
                    margin: 16px 0;

                    &:after {
                        position: relative;
                        top: 12px;
                        display: block;
                        width: calc(100%);
                        height: 1px;
                        background: #f0f0f0;
                        content: "";
                    }
                }

                .layout-menu-list-component-items {
                    .layout-menu-list-component-item {
                        padding: 8px 26px;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        color: rgba(0, 0, 0, .85);

                    }
                }
            }
        }
    }
}

.layout-wrapper {
    margin: 0 13%;
    margin-top: 65px;
    padding: 26px;
}