@import '../styles/var.scss';
@import "../styles/mixins.scss";

.r-row {
    position: relative;
    box-sizing: border-box;
    @include utils-clearfix;

    &.r-row-flex {
        display: flex;

        &:before,
        &:after {
            display: none;
        }

        &.is-justify-center{
            justify-content: center;
        }
        &.is-justify-end{
            justify-content: flex-end;
        }
        &.is-justify-space-between{
            justify-content: space-between;
        }
        &.is-justify-space-around{
            justify-content: space-around;
        }
        &.is-align-middle{
            align-items: center;
        }
        &.is-align-bottom{
            align-items: flex-end;
        }
    }
}