// header
$vd-header-height: 68px;
$vd-header-bgcolor: rgba(68, 68, 68, 1);
$vd-header-color: rgba(255, 255, 255, 0.75);
$vd-header-nav-bgcolor-hover: rgba(255, 255, 255, 0.06);
$vd-header-nav-bgcolor-active: none;
$vd-header-nav-border-active: rgba(255, 255, 255, 0.75);
$vd-header-nav-color-active: #fff;

// 菜单
$vd-menu-width: 196px;
$vd-menu-bgcolor: #fff;
$vd-workbench-height: 54px;
$vd-workbench-color: rgba(0, 0, 0, 0.65);
$vd-menu-item-height: 40px;
$vd-menu-item-bgcolor: #fff;
$vd-menu-item-bgcolor-hover: #21b065;
$vd-menu-item-color: rgba(0, 0, 0, 0.65);
$vd-menu-item-color-hover: #21b065;
$vd-submenu-bgcolor: #fff;
$vd-submenu-bgcolor-hover: rgba(33, 176, 101, 0.06);
$vd-submenu-color: rgba(0, 0, 0, 0.65);
$vd-submenu-border-active: #21b065;

// 面包屑导航
$vd-breadcrumb-bgcolor: #fff;
$vd-breadcrumb-boxshadow: 0 0 7px 0 rgba(217, 217, 217, 0.5);
$vd-breadcrumb-item-color: rgba(0, 0, 0, 0.65);
$vd-breadcrumb-item-active-color: rgba(0, 0, 0, 0.85);

// 视图容器
$vd-wrapper-bgcolor: #ecf0f3;
$vd-wrapper-paddingtop: 20px;
$vd-wrapper-paddingside: 20px;
$vd-wrapper-page-bgcolor: #fff;

@import '@/components/layout/styles/index.scss';

body {
  margin: 0;
  background: #ecf0f3;
  font-family: Arial,PingFang SC,MicrosoftYaHei;
}
