.bg-modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.gr-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  .ivu-modal {
    top: 0;
  }
  .ivu-modal-footer {
    text-align: center;
    padding: 14px 0;
    button {
      min-width: 85px;
    }
  }
  .gr-modal-ok-btn {
    background-color: var(--main-blue) !important;
    color: #fff;
  }
}
